@import "tailwindcss";

body {
  margin: 0;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.donut {
  width: 165px;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  display: grid;
  place-items: center;
}

.donut-asset {
  background: conic-gradient(#1f4bb8 0 98%, #7fa2f5 98% 100%);
}

.donut-liability {
  background: conic-gradient(
    #bf111b 0 52%,
    #f16d8b 52% 76%,
    #f28716 76% 94%,
    #f0c72c 94% 100%
  );
}

.donut-center {
  width: 118px;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  background: #ffffff;
  box-shadow: inset 0 0 0 1px #eff3f8;
  display: grid;
  place-items: center;
  text-align: center;
}

.donut-center strong {
  font-size: 1.7rem;
  line-height: 1;
  color: #1f2f45;
}

.donut-center span {
  margin-top: 2px;
  font-size: 0.75rem;
  color: #748194;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 9999px;
}

.blue {
  background: #1f4bb8;
}

.light-blue {
  background: #6f8ee5;
}

.pale-blue {
  background: #9eb4ec;
}

.sky {
  background: #c6d6f3;
}

.red {
  background: #bf111b;
}

.pink {
  background: #f16d8b;
}

.orange {
  background: #f28716;
}

.yellow {
  background: #f0c72c;
}
